.starting {
  margin: 0 auto;
  text-align: center;
}

.starting h1 {
  font-size: 5rem;
}


.slider{position: relative};

.LoginScreen{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: calc(100vh - 56px) !important;
overflow: hidden !important;
}